* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(201, 196, 193);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: aqua;
  padding: 30px;
  border: 1px solid black;
  height: 120px;
  width: 100%;
}

main {
  background-color: rgb(238, 164, 53);
  padding: 30px;
  border: 2px solid rgb(233, 10, 10);
  width: 100%;
  flex: 1;
}

footer {
  background-color: blueviolet;
  padding: 30px;
  border: 3px solid rgb(17, 10, 233);
  height: 120px;
  width: 100%;
}