*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color: rgb(201, 196, 193);
    height: 90vh;
}

header{
    background-color: aqua;
    height: 15vh;
    display: flex;
    align-items: center;

    flex-direction: column;
    gap: 1em;
}

main{
    background-color: blanchedalmond;
    display: flex;

}

section {
    border: black 1px solid;
    padding: 5em;
    height: 70vh;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}


footer {
    background-color: blueviolet;
    padding: 2em;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;

}